<% if Setting.plugin_chiliproject_message_bar['content'].present? %>
<div id="message-bar">
  <%= Setting.plugin_chiliproject_message_bar['content'] %>
</div>
<style id="message-bar-style" type="text/css">
div#message-bar { position:fixed; top: 0; background-color: #FA981D; font-size: 16px; height: 25px; border-bottom: 1px solid black; text-align:center; width: 100%; z-index: 500; }
#wrapper { padding-top: 25px; }
</style>

<% end %>
